name: Web test Group in single container

on:
  workflow_dispatch:
    inputs:
      Environment:
        description: 'Environment'
        required: true
        default: 'brightideatest.com'
        type: choice
        options:
          - brightideatest.com
          - brightideasandbox.com
      Mvn_Group:
        description: 'Mvn Group'
        required: true
        default: 'Smoke'
        type: choice
        options:
          - Smoke
          - DockerSet
          - OldRulesModalRegression
      Run_Headless:
        description: 'Run Headless'
        required: true
        default: false
        type: boolean
      RetryCount:
        description: 'Retry Count'
        required: true
        default: "0"
        type: string

jobs:
  run-group-of-web-tests:
    runs-on: ubuntu-latest

    steps:
      - name: pull the project into the runner
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # You can use 'zulu', 'adopt', or other distributions that provide OpenJDK
          java-version: '21.0.3'
          cache: maven

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-docker-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-docker-          

      - name: Start Selenium Standalone Chrome container
        run: |
          docker pull --platform=linux/amd64 selenium/standalone-chrome
          docker run -d -p 4444:4444 -p 7900:7900 --shm-size="2g" -v /dev/shm:/dev/shm --platform=linux/amd64 selenium/standalone-chrome

      - name: Wait for Selenium to be ready
        run: |
          for i in {1..30}; do
            if curl -s http://localhost:4444/wd/hub/status | grep -q '"ready":true' && \
            curl -s http://localhost:4444/wd/hub/status | grep -q '"maxSession":'; then
              echo "Selenium is ready"
              break
            fi
            echo "Waiting for Selenium..."
            sleep 2
          done

      - name: Restore Maven Cache
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run Web Tests via Maven
        run: |
          mvn clean test -Denvironment.url="${{github.event.inputs.Environment}}" -Dgroups="${{github.event.inputs.Mvn_Group}}" -DretryCount=${{github.event.inputs.RetryCount}} -Dheadless=${{github.event.inputs.Run_Headless}} site

      - name: Save Maven Cache
        run: |
          echo "step=save" >> $GITHUB_ENV
        continue-on-error: true

      - name: Upload Maven Site Report
        uses: actions/upload-artifact@v4
        with:
          name: maven-site-report
          path: target/site
          retention-days: 2

      - name: Publish Test Report
        if: success() || failure()
        uses: scacap/action-surefire-report@v1
        with:
          report_paths: '**/target/surefire-reports/*.xml'

      - name: Upload test logs
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: test-logs
          path: '**/target/surefire-reports/*-output.txt'
          if-no-files-found: error
          retention-days: 2

      - name: Upload Final View Screenshot
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: Final View Screenshot
          path: '**/target/surefire-reports/screenshots/*-end-screenshot.png'
          if-no-files-found: error
          retention-days: 2
