name: Single Web Test in single container

on:
  workflow_dispatch:
    inputs:
      Test:
        description: 'Test'
        required: true
        default: 'TestCases.RWHQImports.TC_C44_SubmitNewValidIdeaWithAllRequiredFields'
        type: string
      Run_Headless:
        description: 'Run Headless'
        required: true
        default: false
        type: boolean

jobs:
  run-web-test:
    runs-on: ubuntu-latest

    steps:
      - name: pull the project into the runner
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # You can use 'zulu', 'adopt', or other distributions that provide OpenJDK
          java-version: '21.0.3'
          cache: maven

      - name: Install ffmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Start Selenium Standalone Chrome container
        run: |
          docker pull --platform=linux/amd64 selenium/standalone-chrome
          docker run -d -p 4444:4444 -p 7900:7900 --shm-size="2g" -v /dev/shm:/dev/shm --platform=linux/amd64 selenium/standalone-chrome

      - name: Restore Maven Cache
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run Web Tests via Maven
        run: |
          mvn clean test -Dtest="${{github.event.inputs.Test}}" -Dheadless=${{github.event.inputs.Run_Headless}} site

      - name: Save Maven Cache
        run: |
          echo "step=save" >> $GITHUB_ENV
        continue-on-error: true

      - name: Upload Maven Site Report
        uses: actions/upload-artifact@v4
        with:
          name: maven-site-report
          path: target/site
          retention-days: 2

      - name: Upload test logs
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: test-logs
          path: target/surefire-reports
          if-no-files-found: error
          retention-days: 2

      - name: Upload test screenshot
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: test-screenshot
          path: target/screenshot
          retention-days: 2

      - name: Publish Test Report
        if: success() || failure()
        uses: scacap/action-surefire-report@v1
        with:
          report_paths: '**/target/surefire-reports/*.xml'