name: Web test in single container

on:
  workflow_dispatch:
    inputs:
      Mvn_Group:
        description: 'Mvn Group'
        required: true
        default: 'Smoke'
        type: choice
        options:
          - Smoke
          - DockerSet
      Run_Headless:
        description: 'Run Headless'
        required: true
        default: false
        type: boolean

jobs:
  run-web-test:
    runs-on: ubuntu-latest

    steps:
      - name: pull the project into the runner
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # You can use 'zulu', 'adopt', or other distributions that provide OpenJDK
          java-version: '21.0.3'
          cache: maven

      - name: Start Selenium Standalone Chrome container
        run: |
          docker pull --platform=linux/amd64 selenium/standalone-chrome
          docker run -d -p 4444:4444 -p 7900:7900 --shm-size="2g" -v /dev/shm:/dev/shm --platform=linux/amd64 selenium/standalone-chrome

      - name: Restore Maven Cache
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run Web Tests via Maven
        run: |
          mvn clean test -Dgroups="${{github.event.inputs.Mvn_Group}}" -Dheadless=${{github.event.inputs.Run_Headless}} site

      - name: Save Maven Cache
        run: |
          echo "step=save" >> $GITHUB_ENV
        continue-on-error: true

      - name: Upload Maven Site Report
        uses: actions/upload-artifact@v4
        with:
          name: maven-site-report
          path: target/site

      - name: Publish Test Report
        if: success() || failure()
        uses: scacap/action-surefire-report@v1
        with:
          report_paths: '**/target/surefire-reports/*.xml'