name: Web Test on Multiple Containers

on:
  repository_dispatch:
    types:
      - trigger-web-test
  workflow_dispatch:
    inputs:
      Environment:
        description: 'Environment'
        required: true
        default: 'brightideatest.com'
        type: choice
        options:
          - brightideatest.com
          - brightideasandbox.com
      Mvn_Group:
        description: 'Mvn Group'
        required: true
        default: 'Smoke'
        type: choice
        options:
          - Smoke
          - DockerSet
          - OldRulesModalRegression
      Run_Headless:
        description: 'Run Headless'
        required: true
        default: false
        type: boolean

jobs:
  run-group-of-web-tests-in-grid:
    runs-on: ubuntu-latest

    steps:
      - name: pull the project into the runner
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # You can use 'zulu', 'adopt', or other distributions that provide OpenJDK
          java-version: '21.0.3'
          cache: maven

      - name: Create Docker network
        run: docker network create grid

      - name: Start Selenium Grid Hub
        run: |
          docker run -d -p 4442-4444:4442-4444 --net grid --name selenium-hub selenium/hub:latest

      - name: Start Selenium Chrome Nodes
        run: |
          for i in {1..5}; do
            docker run -d --net grid -e SE_EVENT_BUS_HOST=selenium-hub --shm-size="2g" selenium/node-chrome:latest
          done

      - name: Run Web Tests via Maven
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            mvn clean test -Denvironment.url="${{ github.event.inputs.Environment }}" -Dgroups="${{ github.event.inputs.Mvn_Group }}" -Dheadless=${{ github.event.inputs.Run_Headless }} site
          elif [[ "${{ github.event_name }}" == "repository_dispatch" ]]; then
            mvn clean test -Denvironment.url="${{ github.event.client_payload.Environment }}" -Dgroups="${{ github.event.client_payload.Mvn_Group }}" -Dheadless=${{ github.event.client_payload.Run_Headless }} site
          fi

      - name: Upload Maven Site Report
        uses: actions/upload-artifact@v4
        with:
          name: maven-site-report
          path: target/site

      - name: Publish Test Report
        if: success() || failure()
        uses: scacap/action-surefire-report@v1
        with:
          report_paths: '**/target/surefire-reports/*.xml'

      - name: Upload test logs
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: test-logs
          path: '**/target/surefire-reports/*-output.txt'
          if-no-files-found: error
          retention-days: 2

      - name: Upload Final View Screenshot
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: Final View Screenshot
          path: '**/target/surefire-reports/screenshots/*-end-screenshot.png'
          if-no-files-found: error
          retention-days: 2

      - name: Clean up Docker containers
        if: always()
        run: |
          docker rm -f $(docker ps -aq)
          docker network rm grid
