name: Web Test on Multiple Containers

on:
  workflow_dispatch:
    inputs:
      Mvn_Group:
        description: 'Mvn Group'
        required: true
        default: 'smoke'
        type: string
      Run_Headless:
        description: 'Run Headless'
        required: true
        default: true
        type: boolean

jobs:
  run-web-test:
    runs-on: ubuntu-latest

    steps:
      - name: pull the project into the runner
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # You can use 'zulu', 'adopt', or other distributions that provide OpenJDK
          java-version: '21.0.3'
          cache: maven

      - name: Create Docker network
        run: docker network create grid

      - name: Start Selenium Grid Hub
        run: |
          docker run -d -p 4442-4444:4442-4444 --net grid --name selenium-hub selenium/hub:latest

      - name: Start Selenium Chrome Nodes
        run: |
          for i in {1..3}; do
            docker run -d --net grid -e SE_EVENT_BUS_HOST=selenium-hub --shm-size="2g" selenium/node-chrome:4.31.0-20250414
          done

      - name: run the DockerSet through Maven
        run: |
          mvn clean test -Dgroups="${{github.event.inputs.Mvn_Group}}" -Dheadless=${{github.event.inputs.Run_Headless}} site

      - name: Upload Maven Site Report
        uses: actions/upload-artifact@v4
        with:
          name: maven-site-report
          path: target/site

      - name: Clean up Docker containers
        if: always()
        run: |
          docker rm -f $(docker ps -aq)
          docker network rm grid