name: Web Test on Single Docker Container

on: workflow_dispatch
jobs:
  run-web-test:
    runs-on: ubuntu-latest

    steps:
      - name: pull the project into the runner
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # You can use 'zulu', 'adopt', or other distributions that provide OpenJDK
          java-version: '21.0.3'
          cache: maven

      - name: Start Selenium Standalone Chrome container
        run: |
          docker pull --platform=linux/amd64 selenium/standalone-chrome
          docker run -d -p 4444:4444 -p 7900:7900 --shm-size="2g" -v /dev/shm:/dev/shm --platform=linux/amd64 selenium/standalone-chrome


      - name: run the DockerSet through Maven
        run: |
          mvn clean test -Dgroups="DockerSet" site

      - name: Upload Maven Site Report
        uses: actions/upload-artifact@v4
        with:
          name: maven-site-report
          path: target/site